.idea
target
*.iml
.cache

.node
node_modules
dist

.project
.settings
.factorypath
.classpath
.vscode

**/src/generated/**
**/models/generated/**
*.mp4
**/generated-diagram_*
**/cypress/screenshots/**

derby.log
release.properties

**/*.releaseBackup

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
